@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items:$align;
    flex-direction: $direction;

}

@import 'global';
@import 'nav';
@import 'background';

@media screen {
    
}